<body style="background-color: rgb(184, 171, 175); height: 1000px">
  <div class="container">
    <h2 style="font-size: 20px; color: rgb(156, 58, 90);">About us</h2> <br>
     <div class="row">
    <p>
        Our expertly trained pet-grooming specialists will meet your individual needs and requirements. <br>
        So whether you’re treating your pet to an exfoliating or moisturising facial <br>
        by one of our City & Guilds qualified pet groomers, <br>
        or a custom hair styling by one of our Senior Stylists, <br>
        The Pet Spa will give your cherished pet their undivided expert attention.
    </p>
  </div>
  </div>
</body>