 <meta name="viewport" content="width=device-width, initial-scale=1.0">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <img id="imgi" src="/assets/images/icon.png" alt="">
    <small style="color: rgb(197, 204, 202) ; font-family: Bradley Hand ITC; font-size: 20px;">Pets grooming <br> and daycare </small>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink='/home' href="#">Home</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/services' href="#">Services</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/shop' href="#">Shop</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink='/login' href="#">Login</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink='/registration' href="#">regi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/product' href="#">Product</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" routerLink='/viewcart' href="#">View Cart</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink='/about' href="#">About us</a>
                </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" routerLink='/' href="#">Disabled</a>
          </li> -->
      </ul>
    </nav>
  
<router-outlet></router-outlet> 