<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body  style="background-color: rgb(184, 171, 175); height: 1500px; ">
   
<div class="container">
        <br><br>
      <h1 id="title">Grooming</h1>
      <img src="" alt="">
      <p>Our pet spa offers full service pet grooming, nail trims, and doggie spa treatments that focus on aromatherapy, anxiety and skin and coat issues.
        Our pet stylists have a combined 30 plus years of grooming experience. 
        They are trained and have all developed their own grooming techniques to provide the owner with a quality haircut and brush out dependent on the degree of difficulty and condition of coat.
      </p>
      <p>
      Our guests in the Pet Spa are given safe and gentle grooming in a relaxing atmosphere.
      We are aware that our energy has an immediate impact on the pets in our care, so we offer a calm setting where we ignore bad behavior and praise for the good.
      We strive to complete a superior groom from beginning to end, but understand some doggies need socialization breaks. 
      We also do not cage dry.
      </p>
</div>

<div class="container" id="spa"> 
    <h1 id="title1">Spa treatments</h1>
  <br><br>
  
    <div class="row">
  <div class="col-sm-3" >
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Nervous Nelly</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img  id="imgi" mat-card-image src="assets/images/11.jpg" alt="Photo of a Shiba Inu" >      
      <mat-card-content>
        <p>
         Aromatherapy : perfect for shy & fearful dogs
         Lavendar Aroma calms, soothes, and relaxes even the most timid.
        </p>
      </mat-card-content>
     
    </mat-card> 
  </div>
  <div class="col-sm-3" >
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Happy Feet</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img  id="imgi" mat-card-image src="assets/images/11.jpg" alt="Photo of a Shiba Inu" >
        <mat-card-content>
          <p>
            Perfect and soothe paws <br>
             from snow ,ice and salt.
             <br> All natural ingredients.
          </p>
        </mat-card-content>
       
      </mat-card>
      </div>
      <div class="col-sm-3" >
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Bug Off</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <img  id="imgi" mat-card-image src="assets/images/11.jpg" alt="Photo of a Shiba Inu" >
              <mat-card-content>
                <p>
                 Naturally deter fleas , mosquitoes & flies,
                 Safe & mild formula containing d-limonene with pleasant citrus fragnance
                </p>
              </mat-card-content>
             
            </mat-card> 
          </div>
           <div class="col-sm-3" >
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img  id="imgi" mat-card-image src="assets/images/11.jpg" alt="Photo of a Shiba Inu" >
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      
    </mat-card> 
  </div>
  <button mat-button routerLink='/booking'>BOOK</button>

      </div>
</div>

<div class="container">
    <h1 id="title1">DayCare</h1>
    <br>
    <p>
        Paws and Play Doggie Daycare provides your dog with the opportunity  <br>
         to get their engery out by playing and socializing with a variety of different breeds. <br>
        The cost for Doggie Daycare is Rs.25 (plus tax) for a full day of play, or Rs.15 (plus tax) for 5 hours or less.
        <br>
        Packages are also available: <br>
        • Buy 10 visits and get 1 free <br>
        • Get 5 consecutive days of play for Rs.1000 (plus tax) *YOU SAVE Rs.25!
    </p>
    </div>
  </body>